//회원가입 후 여행취향카테고리 설정 전체 화면 wrapper
.Choice-wrapper {
  border: 1px solid black;
  height: 78vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

//취향카테고리 담은 컨테이너
.Choice-container {
  display: flex;
  height: 330px;
  border: 1px solid transparent;
}

//취향카테고리 설정 check버튼
.Choicebtn {
  width: 90px;
  height: 90px;
  text-align: center;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  border: 1px solid #ffafaf;
  background: none;
  font-size: 12px;
  &:focus {
    font-weight: bold;
    border: 3px solid #ff4444;
  }
}

//취향카테고리 설정 완료 후 메인추천페이지 이동버튼
.mainrecommendbtn {
  display: flex;
  position: absolute;
  bottom: 150px;
  width: calc(100% - 380px);
  border: none;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 30px;
  color: white;
  border-radius: 12px;
  background-color: #47afdb;
  &:hover {
    color: black;
    border: 3px solid #47afdb;
    background: none;
  }
}

//메인추천게시물 전체화면컨테이너
.Recommend-Container {
  position: relative;
  justify-content: center;
  align-content: center;
  margin: 5%;
}

//추천게시물 박스
.Recommend-List {
  width: 90%;
  height: 30vh;
  margin-top: 2rem;
  margin: auto;
  display: inline;
  align-content: center;
  justify-content: center;
}

//추천게시물 타이틀 border
.Recommendtitle-wrapper {
  border-radius: 22px;
  background: #47afdb;
  width: 80%;
  height: 4vh;
  text-align: center;
  margin: auto;
  display: flex;
  align-content: center;
  justify-content: center;
}

//추천게시물title
.Retitle {
  text-align: center;
  color: white;
  display: flex;
  margin-top: auto;
  align-content: center;
  justify-content: center;
  position: absolute;
}

//추천게시물 프리뷰이미지
.Preview-image {
  width: 85%;
  height: 25vh;
  border-radius: 15px;
  overflow: hidden;
  margin: auto;
  display: flex;
  align-content: center;
  justify-content: center;
}
