.choiceBox {
  width: 80%;
  height: 55vh;
  
  position: relative;
  margin: 10% auto 10%;
}

.interestcheck{ 
  display: none;
}

.tagcheck {
  display:flex;
  justify-content: center;
  align-items: center;
  margin: 2.5% 2% 2% 4.5%;
  background: linear-gradient(to left, #f5c9e0 30%, #47afdb 70%);
  border-radius: 22px;
  width: 90%;
  height: 2.5rem;
  font-size: 1.2rem;
}
 
.untagcheck {
  display:flex;
  justify-content: center;
  align-items: center;
  margin: 2.5% 2% 2% 4.5%;
  background: none;
  border-radius: 22px;
  width: 90%;
  height: 2.5rem;
  font-size: 1.2rem;
 }




.likebox {
  width: 10%;
  display: inline-block;
  justify-content: space-between;
  &:focus {
    font-weight: bold;
    color: white;
    border: 2px solid #5e7fdc;
    background: none;
  }
}

.btnBox {
  width: 100%;
  height: 10%;
  display:block;
  margin: 5% 2% 2% 5%;;
  

}
.joinbtn {
  display: inline-block;
  align-items: center;
  justify-content: center;
  width: 35%;
  height: 70%;
  font-size: 100%;
  color: white;
  background-color: #A3D7ED;
  border-radius: 22px;
  border: 1px solid transparent;
  margin: 2.5% 2% 2% 2.5%;;
  
  &:hover {
    font-weight: bold;
    color: black;
    border: 3px solid #A3D7ED;
    background: none;
  }
}

//메인추천게시물 전체화면컨테이너
.Recommend-Container {
  position: relative;
  justify-content: center;
  align-content: center;
  margin: 5%;
}

//추천게시물 박스
.Recommend-List {
  width: 90%;
  height: 30vh;
  margin-top: 2rem;
  margin: auto;
  display: inline;
  align-content: center;
  justify-content: center;
}

//추천게시물 타이틀 border
.Recommendtitle-wrapper {
  border-radius: 22px;
  background: #47afdb;
  width: 80%;
  height: 4vh;
  text-align: center;
  margin: auto;
  display: flex;
  align-content: center;
  justify-content: center;
}

.Recommend-logo {
  width: 100%;
  
  display: flex;
  // justify-content: center;
  // align-items: center;
}

//추천게시물title
.Retitle {
  text-align: center;
  color: white;
  display: flex;
  margin-top: auto;
  align-content: center;
  justify-content: center;
  position: absolute;
}

//추천게시물 프리뷰이미지
.Preview-image {
  width: 85%;
  height: 25vh;
  border-radius: 15px;
  overflow: hidden;
  margin: auto;
  display: flex;
  align-content: center;
  justify-content: center;
}

//RecommendPost.jsx
.post-content {
  margin-left: 5%;
  padding: 5%;
  background-color: rgba(255, 255, 255, 0.524);
  width: 80%;
  height: 30px;
  position: absolute;
  overflow: hidden;
  display: flex;
  gap: 10px;
  align-items: center;
  bottom: 20px;
}

.heart-btn-img {
  width: 20px;
}
.post-body {
  width: 100%;
  height: 250px;
  margin-bottom: 5%;

  & img {
    object-fit: cover;
  }
}
