//은지 담당//
.SearchBar {
  font-size: 18px;
  width: calc(100% - 40px);
  border: none;
  outline: none;
  padding: 0;
}
//search 돋보기
.Icon {
  position: absolute;
  right: 12px;
  top: 5px;
  width: 26px;
}
//search div박스
.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 80%;
  height: 30px;
  padding: 5% 10%;
  box-sizing: border-box;
  box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
  border-radius: 120px;
  background: #fff;
  margin: 1rem auto 1rem auto;
}
//최신순 추천순 조회순
.changer-wrapper {
  justify-content: center; //가운데 정렬
  display: flex; //자식 요소들 일렬배치
}
.input-selector {
  border: none;
}

//포스트페이지 로그인,회원가입,로고포함 헤더
.Header-wrapper {
  height: 13vh;
  border-bottom: 1px solid #d9d9d9;
  display: flex;
  max-width: 428px;
  font-family: "NotoSansKR";
}
//로고가 담긴 콘테이너
.HeaderForm {
  width: 30%;
  height: auto;
}

//내돈내여 로고
.Logo {
  width: 95%;
  height: 60%;
  margin: 27% 0 0 27%;
}

//로그인,회원가입 담긴 헤더
.Sign-box {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: end;
  margin: 5% 2% 0 10%;
}

//로그인,회원가입 버튼
.Signbtn {
  font-size: 18px;
  position: relative;
  margin-right: 1rem;
  border: none;
  background: none;
  font-family: "Noto Sans KR", sans-serif;
  &:hover {
    font-weight: bold;
    color: #47afdb;
  }
}
//헤더 nickname+btn div
.hearders-nickWrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
//헤더 nick+님 div
.headers-님 {
  display: flex;
}
//헤더 닉네임 p
.headers-nick {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 50%;
  margin: auto;
  text-align: right;
}

//풋컨테이너
.Footer-Container {
  border-top: 1px solid #d9d9d9;
  height: 70px;
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: white;
  max-width: 428px;
  z-index: 1;
}

//글쓰기,관심목록,마이페이지 담긴 아이콘박스
.Icon-box {
  height: 90%;
  display: flex;
  justify-content: center;
}

//추천아이콘 사이즈 맞추기
.recomendIcon {
  height: 110%;
}

//푸터 아이콘들
.FootersIcon {
  width: 100%;
}

//아이콘각각 담아준박스
.btnbox {
  display: flex;
  margin: 3% 4%;
}
