//은지 담당//
.SearchBar {
  font-size: 18px;
  width: calc(100% - 40px);
  border: none;
  outline: none;
  padding: 0;
}
//search 돋보기
.Icon {
  position: absolute;
  right: 12px;
  top: 5px;
  width: 26px;
}
//search div박스
.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 80%;
  height: 30px;
  padding: 5% 10%;
  box-sizing: border-box;
  box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
  border-radius: 120px;
  background: #fff;
  margin: 1rem auto 1rem auto;
}
//최신순 추천순 조회순
.changer-wrapper {
  justify-content: center; //가운데 정렬
  display: flex; //자식 요소들 일렬배치
}
.input-selector {
  border: none;
}

//포스트페이지 로그인,회원가입,로고포함 헤더
.Header-wrapper {
  height: 6vh;
  max-width: 428px;
  font-family: "NotoSansKR";
  border-bottom: 1px solid #e2e2e2;
  display: flex;
  align-items: center;
}

.HeaderForm {
  width: 50%;
}

//내돈내여 로고
.Logo {
  width: 80%;
  height: 80%;
  margin: 7% 1.5% 0 12%;
  object-fit: cover;
}

//로그인,회원가입 담긴 헤더
.Sign-box {
  width: 100%;
  display: flex;
  align-items: center;
}

//로그인,회원가입 버튼
.Signbtn {
  width: 70%;
  object-fit: cover;
  border: none;
  background-color: transparent;
  .loginButton {
    width: 60%;
    height: 60%;
    object-fit: cover;
    margin: 7% 0 0 70%;
  }
  .logoutButton {
    width: 80%;
    height: 80%;
    object-fit: cover;
  }
}
//헤더 nickname+btn div
.hearders-nickWrap {
  display: flex;
  align-items: center;
  margin-top: 5%;
}
//헤더 nick+님 div
.headers-님 {
  display: flex;
  justify-content: right;
  width: 100%;
}
//헤더 닉네임 p
.headers-nick {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: right;
  margin-bottom: 2%;
}

//풋컨테이너
.Footer-Container {
  height: 7vh;
  width: 100%;
  border-top: 1px solid #d9d9d9;
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  max-width: 428px;
  z-index: 1;
  position: fixed;
}

//글쓰기,관심목록,마이페이지 담긴 아이콘박스
.Icon-box {
  background-color: white;
  margin: auto;
  width: 100%;
  gap: 2.5%;
}
.notification {
  width: 1.3vh;
  height: 0.8vh;
  background-color: red;
  border-radius: 50%;
}
