//은지 담당//
.SearchBar {
  font-size: 18px;
  width: calc(100% - 40px);
  border: none;
  outline: none;
  padding: 0;
}

.Icon {
  position: absolute;
  right: 12px;
  top: 5px;
  width: 26px;
  height: 26px;
}

.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 80%;
  height: 40px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 1px solid #000;
  border-radius: 120px;
  background: #fff;
  margin: 2rem auto 2rem auto;
}

.list-changer {
  text-align: center;
}
//은지 담당//

//다현 담당
//포스트페이지 로그인,회원가입,로고포함 헤더
.Header-wrapper {
  height: 80px;
  padding-top: 10px;
  padding-bottom: 10px;

  display: flex;
  // position: fixed;
  // top: 0;
  // left: 0;
  // right: 0;
}
//로고가 담긴 콘테이너
.HeaderForm {
  width: 50%;
  height: auto;
  align-items: center;
  display: inline-block;
}

//여행지추천,게시물,스토리가 담긴 헤더
.Headerbar-Container {
  height: 70px;
  border-top: 3px solid grey;
  border-bottom: 3px solid grey;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

//내돈내여 로고
.Logo {
  position: absolute;
  padding: 10px 40px;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
}

//로그인,회원가입 담긴 헤더
.Sign-box {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: end;
  padding: 10px 35px;
}

//로그인,회원가입 버튼
.Signbtn {
  font-size: 18px;
  padding: 0 0px;
  position: relative;
  margin-right: 1rem;
  border: none;
  background: none;
  font-family: "Noto Sans KR", sans-serif;
  &:hover {
    font-weight: bold;
    color: #5e7fdc;
  }
}

//여행지추천,게시물,스토리 버튼
.Choicebtn {
  font-size: 22px;
  font-weight: bold;
  line-height: 18px;
  border: none;
  padding: 0 10px;
  margin-left: 1rem;
  position: relative;
  font-family: "NanumSquareAcb";
  background: none;
  &:hover {
    font-size: 25px;
    font-weight: bold;
  }
}

//풋컨테이너
.Footer-Container {
  position: relative;
  background-color: #ffffff;
  border-top: 1px solid grey;
}

//글쓰기,관심목록,마이페이지 담긴 아이콘박스
.Icon-box {
  height: 60px;

  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

//추천목록아이콘 다현이가추가
.recomendIcon {
  margin-top: 10px;
  margin-right: 20px;
  width: 50px;
  height: 50px;
  display: inline-block;
  align-items: center;
  &:hover {
    color: yellow;
  }
}

//글쓰기아이콘 다현이가추가
.addIcon {
  margin-top: 10px;
  margin-right: 20px;
  width: 46px;
  height: 46px;
  display: inline-block;
  align-items: center;
}

//마이페이지아이콘 다현이가추가
.mypageIcon {
  margin-top: 10px;
  margin-right: 20px;
  width: 40px;
  height: 40px;
  display: inline-block;
  align-items: center;
}

//스토리아이콘 다현이가추가
.storyIcon {
  margin-top: 10px;
  margin-right: 20px;
  width: 40px;
  height: 40px;
  display: inline-block;
  align-items: center;
}

//게시글 리스트 아이콘 다현이가추가
.listIcon {
  margin-top: 10px;
  margin-right: 20px;
  width: 40px;
  height: 40px;
  display: inline-block;
  align-items: center;
}

//아이콘각각 담아준박스
.btnbox {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
