//카테고리 전체컨테이너
.category-wrapper {
  width: 100%;
  height: 6vh;
  display: flex;
  position: relative;
  align-items: center;
  background-color: white;
}
//카테고리텍스트
.catagory-head {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 100%;
  font-size: 20px;
  color: #999fab;
  cursor: pointer;
}
//검색바
.search-icon {
  display: flex;
  margin-left: 1rem;
  justify-content: center;
  align-items: center;
  width: 8%;
  cursor: pointer;
}

//태그전체컨테이너
.tag-wrapper {
  width: 99%;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  border: 1px solid transparent;
}

//태그테투리
.tag {
  justify-content: center;
  align-items: center;
  width: 25%;
  border-radius: 15px;

  background-color: #eef1f7;
  padding: 8px;
  box-sizing: border-box;
  margin: 0 auto;
}

//태그텍스트
.tag-text {
  cursor: pointer;
  font-size: 13px;
  font-weight: 600;
  color: #999fab;
  display: flex;
  text-align: center;
  justify-content: center;
}

//포스트리스트
.postListAll {
  height: 77.5vh;
  overflow: auto;
  width: 100%;
  font-family: "NotoSansKR";
  color: #555555;
}

.content-wrapper {
  margin: 2.5% 0 0 2.5%;
  display: flex;
  flex-wrap: wrap;
}
