//혜림담당

// 나의페이지
.imgBox {
  border-radius: 70%;
  background-color: #d9d9d9;
  width: 30%;
  height: 15%;
  margin: 10% 0 0 35%;
}

.profileNickname {
  display: flex;
  justify-content: center;
  margin: 3% auto auto auto;
  font-size: 1.1rem;
  font-weight: 900;
  width: 50%;
  height: 5%;
}

.profileCategory {
  margin-top: 15%;
}

.CategoryTitle {
  display: flex;
  font-size: medium;
}

.categoryGet {
  background-color: #a3d7ed;
  width: 85%;
  height: 100%;
  border-radius: 10px;
  padding: 2%;
  margin: auto;
}

.myListAll {
  margin: 10% 0 0 5%;
  height: 20%;
  font-weight: bold;
  p {
    background-color: #d9d9d9;
    width: 90%;
    padding: 2%;
    border-radius: 10px;
    font-size: 1.1rem;
  }
}
// 나의 게시글, 관심, 일정 리스트
.MyPostsList {
  display: flex;
}

.MyPosts {
  margin: 5%;
}

.MyPostImg {
  background-color: #a3d7ed;
  padding: 3%;
  border-radius: 10px 0 0 10px;
  width: 50%;
}

.MyPostTitle {
  background-color: #d9d9d9;
  padding: 3%;
  border-radius: 0 10px 10px 0;
  width: 40%;
  z-index: -1;

  img {
    width: 30%;
    float: right;
    z-index: 1;
  }
}

//나의 일정관리하기
.planTitle {
  display: flex;
  justify-content: space-between;
}

.planAdd {
  width: 10%;
  height: 10%;
  margin: 2% 0 0 0;
}

.Myplan {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 20% 65% 15%;
  border-radius: 10px;
  width: 100%;
  height: 180px;
  box-shadow: 2px 3px 3px 2px #d9d9d9;
}
.MyplanImg {
  padding: 3%;
  border-radius: 10px;
}

.MyplanContents {
  padding: 3%;
}

//완료 전
.MyplanDate {
  background-color: #a3d7ed;
  padding: 7% 0 0 8%;
  border-radius: 10px 0 0 0;
}

.MyplanTitle {
  background-color: #a3d7ed;
  padding: 3% 0 0 5%;
  border-radius: 0 10px 0 0;
  border-left: 1px solid #afafaf;
  display: flex;
  justify-content: space-between;
  img {
    width: 10%;
    padding: 0 5% 2% 0;
  }
}
// 완료 후
.MyplanDate1 {
  background-color: #d9d9d9;
  padding: 7% 0 0 8%;
  border-radius: 10px 0 0 0;
}

.MyplanTitle1 {
  background-color: #d9d9d9;
  padding: 3% 0 0 5%;
  border-radius: 0 10px 0 0;
  border-left: 1px solid #afafaf;
  display: flex;
  justify-content: space-between;
  img {
    width: 10%;
    padding: 0 5% 2% 0;
  }
}

.buttonAll {
  background-color: #d9d9d9;
  border: none;
  margin-left: 1px;
  font-size: 0.9rem;
  font-weight: bold;
  border-radius: 0 0 10px 0;
}

.buttonDelete {
  background-color: #d9d9d9;
  border: none;
  border-radius: 0 0 0 10px;
  padding-top: 4%;
}

//일정추가
.DatePicker {
  border: none;
  border-radius: 10px;
  width: 40%;
  font-size: medium;
  font-weight: bold;
  margin: 1% 0 0 30%;
  text-align: center;
}

.MyplanPost {
  display: grid;
  grid-template-rows: 7% 7% 30% 56%;
  border-radius: 10px;
  width: 100%;
  height: 50vh;
  box-shadow: 2px 3px 3px 2px #d9d9d9;
}

.MyplanPostDate {
  background-color: #d9d9d9;
  border-radius: 10px 10px 0 0;
}

.MyplanPostTitle {
  background-color: #d9d9d9;
  padding-left: 5%;
}

.MyplanPostImg {
  padding: 3%;
  border-radius: 10px;
}

.MyplanPostContents {
  padding: 3%;
}
.PostimgBox {
  width: 95%;
  height: 90%;
  margin: 3% auto;
}

.MyplanPostAddbutton {
  img {
    width: 40%;
  }
  margin: 0 0 0 39%;
}
