//혜림담당

// 나의페이지
.imgBox {
  border-radius: 70%;
  background-color: #ececec;
  width: 30%;
  height: 15%;
  margin: 10% 0 0 35%;
}
.profileImage {
  margin: 5% 0 0 34%;
  display: flex;
  img {
    width: 50%;
    height: 120px;
    object-fit: cover;
    border-radius: 70%;
  }
}
.profileImage {
  margin: 5% 0 0 34%;
  display: flex;
  img {
    width: 50%;
    height: 120px;
    object-fit: cover;
    border-radius: 70%;
  }
}

.profileImginputLabel {
  background-color: transparent;
  position: absolute;
  height: 120px;
  width: 33%;
  border-radius: 70%;
  color: transparent;
}

.profileImginput {
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
  border: 0;
}

.profileNickname {
  display: flex;
  justify-content: center;
  margin: 2% 0 0 22%;
  font-size: 1.1rem;
  font-weight: 900;
  width: 50%;
  height: 5%;
}

.profileNickameinput {
  border: none;
  width: 50%;
  text-align: right;
  font-size: 1rem;
  font-weight: 700;
  background-color: transparent;
}

.profileCategory {
  margin-top: 15%;
}

.CategoryTitle {
  display: flex;
  font-size: medium;
}

.categoryGet {
  background: linear-gradient(to right, #f5c9e0 5%, #47afdb 70%);
  color: #fff;
  width: 85%;
  height: 100%;
  border-radius: 10px;
  padding: 2%;
  margin: auto;
}

.myListAll {
  margin: 10% 0 30% 5%;
  height: 20%;
  font-weight: bold;
  p {
    background-color: #ececec;
    width: 90%;
    padding: 2%;
    border-radius: 10px;
    font-size: 1.1rem;
  }
}
// 나의 게시글, 관심, 일정 리스트
.MyPostsList {
  display: flex;
  width: 100%;
  margin-bottom: 3%;
  img {
    width: 98.5%;
    height: 200px;
  }
}

.MyPosts {
  margin: 5% 5% 10% 5%;
}

.MyPostImg {
  background-color: #ececec;
  padding: 1%;
  border-radius: 10px;
  width: 100%;
}

.MyPostTitle {
  background-color: white;
  opacity: 0.7;
  padding: 3% 0 5% 5%;
  border-radius: 0 0 10px 10px;
  width: 85%;
  position: absolute;
  z-index: 1;
  margin-top: 155px;
}

//나의 일정관리하기
.planTitle {
  display: flex;
  justify-content: space-between;
}

.planAdd {
  width: 10%;
  height: 10%;
  margin: 2% 0 0 0;
}

.Myplan {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 20% 65% 15%;
  border-radius: 10px;
  width: 100%;
  height: 180px;
  box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
  margin-bottom: 5%;
  img {
    width: 95%;
    height: 94%;
    border-radius: 0px;
  }
}
.MyplanImg {
  padding: 3%;
  border-radius: 10px;
  img {
    width: 29%;
  }
}

.MyplanContents {
  padding: 3%;
  overflow: auto;
  height: 100%;
}

//완료 전
.MyplanDate {
  background-color: #f5c9e0;
  padding: 7% 0 0 8%;
  border-radius: 10px 0 0 0;
  font-weight: bold;
}

.MyplanTitle {
  background: linear-gradient(to right, #f5c9e0 5%, #47afdb 70%);
  padding: 3% 0 0 5%;
  border-radius: 0 10px 0 0;
  border-left: 1px solid #ececec;
  display: flex;
  justify-content: space-between;
  img {
    width: 10%;
    padding: 0 5% 2% 0;
  }
}
// 완료 후
.MyplanDate1 {
  background-color: #ececec;
  padding: 7% 0 0 8%;
  border-radius: 10px 0 0 0;
}

.MyplanTitle1 {
  background-color: #ececec;
  padding: 3% 0 0 5%;
  border-radius: 0 10px 0 0;
  border-left: 1px solid #afafaf;
  display: flex;
  justify-content: space-between;
  img {
    width: 10%;
    padding: 0 5% 2% 0;
  }
}

.buttonAll {
  background-color: #ececec;
  border: none;
  margin-left: 1px;
  font-size: 0.9rem;
  font-weight: bold;
  border-radius: 0 0 10px 0;
  &:hover {
    background: linear-gradient(to right, #f5c9e0 5%, #47afdb 70%);
  }
}

.buttonDelete {
  background-color: #ececec;
  border: none;
  border-radius: 0 0 0 10px;
  padding-top: 4%;
  &:hover {
    background: linear-gradient(to right, #f5c9e0 5%, #47afdb 70%);
  }
}

//일정추가
.planImginputLabel {
  background-color: transparent;
  position: absolute;
  height: 130px;
  width: 50%;
  margin: 20%;
  color: transparent;
}

.planImginput {
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
  border: 0;
}

.DatePicker {
  border: none;
  border-radius: 10px;
  width: 40%;
  font-size: medium;
  font-weight: bold;
  margin: 1% 0 0 30%;
  text-align: center;
}

.MyplanPost {
  display: grid;
  grid-template-rows: 9% 11% 30% 48%;
  border-radius: 10px;
  width: 100%;
  height: 50vh;
  box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
}

.MyplanPostDate {
  background-color: #ececec;
  border-radius: 10px 10px 0 0;
  padding: 2.5% 0 0 35%;
}

.MyplanPostTitle {
  background-color: #ececec;
  padding: 1.5% 0 0 5%;
}

.MyplanPostImg {
  padding: 3%;
  border-radius: 10px;
}

.MyplanPostContents {
  padding: 3%;
  height: 100%;
  textarea {
    width: 98%;
    height: 90%;
    border: none;
    resize: none;
  }
}
.PostimgBox {
  width: 95%;
  height: 90%;
  margin: 3% auto;
}

.MyplanPostAddbuttons {
  display: grid;
  grid-template-columns: 30% 100%;
  margin: 5% 0 0 25%;
  width: 50%;
}

.MyplanPostAdd {
  border: none;
  background-color: transparent;
  img {
    width: 100%;
    height: 100%;
  }
  width: 60%;
}
.MyplanPostGoback {
  border: none;
  background-color: transparent;
  width: 80%;
}
