
.video-box {
    width: 100%;
    height: 70vh;
    display: flex;
  
}

.AddStory-wrapper {
    border: 2px solid #d9d9d9; //배경사이즈 확인용
    height: 75vh;
}

.Add-Container{
    width: 90%;
    height: 50vh;
    display: flex;
    margin: auto;
    margin-top: 10%;
    border: 2px solid #d9d9d9;


}


.title-wrapper {
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.Add-video {
    width: 100%;
    height: 15%;
}


.Add-body{
    width: 100%;

}

