//혜림

.AddVideo {
  border-radius: 10px;
  width: 100%;
  height: 50vh;
  box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
}

.videoAddbuttons {
  display: flex;
  margin: 5% 0 0 23%;
  img {
    width: 17%;
  }
}

.videoAdd {
  border: none;
  background-color: transparent;
  width: 50%;
  img {
    width: 100%;
  }
}

//리스트
.videoUser {
  display: flex;
  margin: 5%;
  z-index: 1;
  position: absolute;
  font-weight: 900;
  text-shadow: -1px 0 #555555, 0 1px #555555, 1px 0 #555555, 0 -1px #555555;
  color: #ececec;
  img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 70%;
    border: 1px solid #ececec;
    margin: 0 5px 0 0;
  }
}

.videoSwiper {
  background-color: black;
}

.swiper-button-prev:after {
  color: transparent;
}

.swiper-button-next:after {
  color: transparent;
}
