
//영상남기기,여행남기기 버튼
.btn-choiceModal { 
  width: 35%;
  height: auto;
  margin-top: 12%;
  margin-left: 10%;
  // margin-right: 3%;
  display: inline-block;
  align-items: center;
  justify-content: center;

}

//취소버튼
.btn-close {
width: 20%;
display:block;
height: auto;
margin-left: 39%;
border-radius: 12px;
color: white;
margin-top: 2%;
background-color: #5e7fdc;
border: 1px solid transparent;

}

//모달뒤에 까만화면
.show-Choicemodal {
  position: absolute;
  top: 10%;
  left: 0;
  max-width: 428px;
  width: 100%;
  height: 83%;
  border: none;
  background-color: rgba(0, 0, 0, 0.329);
}
  

  //찐 모달창
  .Check-Modal {
    position: absolute;
    background-color: #ffff;
    top:40%;
    width: 80%;
    left: 10%;
    height: 18%;
    border-radius: 22px;
  }
 
