//AddPost.jsx
.allPost {
  // border: 2px solid #d9d9d9; //배경사이즈 확인용
  height: 100%;
  max-width: 428px;
}
.input-title {
  width: 99%;
  height: 20%;
  font-size: 20px;
  border: none;
  color: rgb(168, 166, 166);
  border-bottom: 1px solid rgba(215, 215, 215, 0.933);
}
.editor-wrapper {
  position: relative;
  max-width: 428px;
  width: 100%;
}
.toastui-editor-popup {
  left: calc(40% - 150px) !important; // 모바일모드에서 중간에서 보임
  margin-left: 0 !important;
}
.toastui-editor-dropdown-toolbar {
  right: 0px !important;
}
.submit-post {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 120px;
  height: 40px;
  background: none;
  border: none;
}
.noSubmit-post {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 120px;
  height: 40px;
  background: none;
  border: none;
}
.edit-post {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 120px;
  height: 40px;
  background: none;
  border: none;
}
.footer {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.submit-icon {
  width: 100%;
  height: 100%;
  margin: 0;
}
.noSubmit-icon {
  width: 100%;
  height: 100%;
  margin: 0;
}
.cost-input {
  width: 80%;
  height: 20px;
}
.cost-wrap {
  gap: 15px;
  display: flex;
  align-items: baseline;
}
//PostSearchPlace.jsx
.map-inputForm {
  display: flex;
  align-items: end;
}
.map-input {
  width: 80%;
  height: 20px;
  border: none;
}
.map-search-btn {
  width: 18%;
  height: 25px;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: 900;
  background: linear-gradient(to left, #80bbd0, #f5c9e0);
}
//PostKakaoMap.jsx
.goback-icon {
  width: 30px;
  height: 30px;
}
.goback-post {
  background: none;
  border: none;
  width: 30px;
}
.edit-icon {
  width: 110px;
  height: 38px;
  cursor: pointer;
}
.지도버튼 {
  background: linear-gradient(to left, #80bbd0, #f5c9e0);
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: 900;
}

//Post.jsx
.post-content {
  margin-left: 5%;
  padding: 5%;
  background-color: rgba(255, 255, 255, 0.524);
  width: 80%;
  height: 30px;
  position: absolute;
  display: flex;
  gap: 10px;
  align-items: center;
  bottom: 20px;
  display: grid;
  grid-template-columns: 70% 30% 5%;
}
.post-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 50%;
  font-size: 20px;
  font-weight: 900;
  color: black;
}
.post-nick {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 20%;
}
.heart-btn-img {
  width: 20px;
}
.post-body {
  width: 100%;
  height: 250px;
  margin-bottom: 5%;

  & img {
    object-fit: cover;
  }
}

//PostDetail.jsx
.detail-wrapper {
  width: 99.5%;
  height: 75%;
  overflow: auto;
}
.detail-tag {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  border: 1px solid transparent;
}
.detail-nickname {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.detail-title {
  width: 100%;
  height: 6%;
  font-size: x-large;
}
.title {
  text-align: center;
  margin: 5px auto;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.detail-content {
  width: 100%;
  height: 100%;
  overflow: auto;
}
.heart-num {
  display: flex;
  align-items: baseline;
}
.edit-delete {
  display: flex;
}
.pic-wrapper {
  width: 100%;
  position: relative;
}
.img-container {
  margin: 5%;
  width: 90%;
  height: 100%;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
}
.map-wrapper {
  margin: auto;
  width: 95%;
  height: 50%;
}
.detail-btns {
  padding: 5px 0 5px 0;
  text-align: center;
  align-items: baseline;
  display: flex;
  gap: 10px;
  border: none;
  display: grid;
  grid-template-columns: 30% 20% 10% 10% 10%;
}
.edit-btn {
  background: none;
  border: none;
}
.edit-detail-icon {
  width: 35px;
  height: 30px;
}
.delete-btn {
  background: none;
  border: none;
}
.delete-icon {
  width: 23px;
  height: 28px;
  cursor: pointer;
}
.html-wrapper {
  margin-top: 10% !important;

  width: 95%;
  margin: auto;
  overflow: auto;
  & img {
    width: 100%;
  }
}
.liked-post-btn {
  border: none;
  background: none;
}
.liked-post-icon {
  width: 25px;
  height: 27px;
  cursor: pointer;
}
.report-post-btn {
  border: none;
  background: none;
}
.report-post-icon {
  width: 25px;
  height: 25px;
  cursor: pointer;
}
//PostCommentList.jsx
.delete-btn {
  background: none;
  border: none;
}
.comment-input {
  width: 50%;
  height: 30px;
  border: none;
  border-bottom: 1px solid gray;
}
.add-btn {
  width: 50px;
  height: 25px;
  border: none;
  border-radius: 5px;
}
.ment-listWrapper {
  width: 80%;
}
.ment-wrapper {
  display: flex;
  width: 110%;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  height: 100px;
  padding: 0 10px;
  border-top: 1px solid #eee;
}
.profileImg {
  margin-top: 20px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #eee;
}
.nickname {
  text-align: center;
}
.userNick {
  width: 100%;
}
.map-detail {
  background: linear-gradient(to left, #4eb4d8, #f5c9e0);
  border: none;
  width: 100px;
  height: 30px;
  border-radius: 12px;
  color: white;
  font-weight: 900;
  float: right;
  margin-right: 3%;
}
//PostComment.jsx
.commentContainer {
  max-width: 428px;
  position: fixed;
  bottom: 7%;
  width: 100%;
  z-index: 1;
  transition: all 1000ms;
  overflow: auto;
  background-color: rgb(255, 255, 255);
}
.toggle-comment-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 25%;
  padding: 0 20px;
  border-top: 1px solid #eee;
}
.comment-tap {
  margin-left: 50%;
  font-weight: bolder;
}
//PostDetailFooters.jsx
.Footer-Container {
  border-top: 1px solid #d9d9d9;
  height: 70px;
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: white;
  max-width: 428px;
}

//글쓰기,관심목록,마이페이지 담긴 아이콘박스
.Icon-box {
  height: 90%;
  display: flex;
  justify-content: center;
}

//추천아이콘 사이즈 맞추기
.recomendIcon {
  height: 110%;
}

//푸터 아이콘들
.FootersIcon {
  width: 100%;
  height: 100%;
}

//아이콘각각 담아준박스
.btnbox {
  display: flex;
  margin: 3% 4%;
}
