//은지 담당//
.mobile-wrapper {
  max-width: 428px;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
}

//전역 최상위 부모요소
.All {
  // border: 2px solid #d9d9d9; //배경사이즈 확인용
  height: 80vh;
  overflow: auto;
  width: 100%;
  font-family: "NotoSansKR";
  position: relative;
  color: #555555;
}
