//은지 담당//
.mobile-wrapper {
  max-width: 428px;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
}
//은지 담당//


//혜림 Login
.loginCss {
  display: grid;
  justify-content: center;
  margin-top: 70%;
  gap: 10px;
}

.loginButton {
  border: 2px solid white;
  border-radius: 5px;
  background-color: transparent;
  height: 45px;
  font-weight: 900;
  font-size: 15px;
  color: white;
}

